<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key = "BaseUrl"  value = "https://localhost:44394/api/Lead/"/>
		<add key = "Rout"     value = "UpdateAllStates"/>
		<add key = "Interval" value = "5000"/>
		<add key = "TimeSendingRequest" value = "16"/>
	</appSettings>
</configuration>